<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>   
</head>
<body>
    <style>
        body {
            border: 3px solid #000000;
            border-width: 3px;
            border-radius: 10px;
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
            background-color: rgb(137, 137, 205);
            background-image: linear-gradient(135deg, #6f92b5, #887fae);
        }
    </style>
    <pre>
                           <h1><big>404 - Page Not Found</big></h1>
                <h3>Sorry, the page you are looking for does not exist.</h3>
    <button><a href="/">Home</a></button>
</body>
</html>