<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frequently Asked Questions</title>
</head>
<body>
    <p style="background-color: rgb(25, 62, 142); color: white; box-sizing: border-box; padding: 20px; text-align: center;">
        <strong>Frequently Asked Questions</strong>
    </p>
    <div>

        
    <h2>1.What does this website provide?</h2>
    <p style="color: brown;">TechPilot AI provides:

Career roadmaps,
Learning resources,
Certification guidance,
Technology overviews &
Beginner-friendly study paths.</p>

    <h2>2.Does this website provide certificates?</h2>
    <p style="color: brown;">No, TechPilot AI does not issue certificates. It guides users toward recognized certification providers and official certification programs.</p>

    <h2>3.Does this website provide career roadmaps?</h2>
    <p style="color: brown;">Yes,the website includes structured learning roadmaps to help beginners understand what to learn and in what order for different technology fields.</p>

    <h2>4.What is the expected salary package for a Blockchain Developer as a fresher?</h2>
    <p style="color:brown;">It depends on skills, projects, internship experience, company, and location.Freshers usually receive got ₹6 LPA to ₹10 LPA.</p>
    
    <h2>5.What is the expected salary package for a Cyber Security Analyst as a fresher?</h2>
    <p style="color:brown;">It depends on skills, projects, internship experience, company, and location.Freshers usually receive got ₹6 LPA to ₹12 LPA.</p>
    
    <h2>6.Who designed and developed TechPilot AI?</h2>
    <p style="color:brown;">TechPilot AI was designed and developed by Nitin Dotasara as an educational project to help students explore technology careers and learning opportunities.</p>
    
    <h2>7.Can I submit feedback?</h2>
    <p style="color: brown;">Yes, Use the Feedback page to share your suggestions.</p>

    </div>
</body>
</html>